<div>
  <h1>Welcome !</h1>
</div>
<div>
  <form action="/users" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div>
      <label>Name</label>
      <input type="text" id="Name" name = "user[name]">
    </div>
    <div>
      <label>Alias</label>
      <input type="text" id="Alias" name = "user[alias]">
    </div>
    <div>
      <label>Email</label>
      <input type="text" id="Email" name = "user[email]">
    </div>
    <div>
      <label>Password</label>
      <input type="text" id="Password" name = "user[password]">
    </div>
    <div>
      <label>Password Confirmation</label>
      <input type="text" id="Password_Confirmation" name = "user[password_confirmation">
    </div>
    <div>
      <input type="submit" name="Join" value="Join">
    </div>
  </form>
</div>

<div>
  <form action="/sessions" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div>
      <label>Email</label>
      <input type="text" id="Email" name = "email">
    </div>
    <div>
      <label>Password</label>
      <input type="text" id="Password" name = "password">
    </div>
    <div>
      <input type="submit" name="Log In" value="Log In">
    </div>
  </form>
</div>
